body {
    padding-top: 70px;
}

div.footer {
    height: 50px;
    text-align: center;
}

.posts {
    list-style-type: none;
}

.posts li {
    line-height: 1.75em;
}

.post {
    margin-left: 20px;
    max-width: 750px;
}

.site {
    font-size: 115%;
    text-align: justify;
    width: 42em;
    margin: 3em auto 2em;
    line-height: 1.5em;
}

.meta {
  margin-left: 20px;
  color: #aaa;
}
