body {
    padding-top: 70px;
}

div.footer {
    height: 50px;
    text-align: center;
}

.posts {
    list-style-type: none;
}
.posts li {
    line-height: 1.75em;
}

.site {
    font-size: 115%;
    text-align: justify;
    width: 42em;
    margin: 3em auto 2em;
    line-height: 1.5em;
}
