body {
    padding-top: 70px;
}

div.footer {
    height: 50px;
    text-align: center;
}

.posts {
    list-style-type: none;
}

.posts li {
    line-height: 1.75em;
}

.post {
    margin-left: 20px;
    max-width: 750px;
}

.site {
    font-size: 115%;
    text-align: justify;
    width: 42em;
    margin: 3em auto 2em;
    line-height: 1.5em;
}

.meta {
  margin-left: 20px;
  color: #aaa;
}

.canal-banner {
    width: 100%;
    height: 200px;
    background-image: url('/images/canal.png');
    -moz-box-shadow:    inset black 0px 12px 11px -9px, inset black 0px -12px 11px -9px;
    -webkit-box-shadow: inset black 0px 12px 11px -9px, inset black 0px -12px 11px -9px;
     box-shadow:        inset black 0px 12px 11px -9px, inset black 0px -12px 11px -9px;
}
